# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      # Checkout, fetch-depth=0 fetches the full repos (required for automatic versioning to work)
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Check build and install
        run: |
          pip install setuptools
          python3 setup.py sdist
          pip install dist/*.tar.gz

      - run: docker pull bitcraze/builder

      - name: CI checks
        run: docker run --rm -v ${PWD}:/module bitcraze/builder ./tools/build/build


